{% extends 'layout.html.twig' %}

{% block sub_title 'Backlog' %}

{% block javascript %}
    <script src="../js/agendamento.js" type="application/javascript"></script>
{% endblock javascript %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="../css/agendamento.css">
{% endblock stylesheet %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>To do
                <span class="glyphicon glyphicon-plus" style="padding:5px;" id="to_do" data-toggle="modal" data-target="#modalTarefa"></span>
                <span class="totalHorasTarefa">00h</span>
            </th>
            <th>In Progress</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody class="table-bordered">
        <tr style="height: 100vh">
            <td class="to_do"></td>
            <td class="in_progress"></td>
            <td class="done"></td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>

    <div class="tarefaView">
        <h4 class="tituloTarefaView"></h4>
        <span class="descricaoTarefaView"></span>
        <span class="horasTarefaView"></span>
        <label class="nomeCadastro">Bruno Koga</label>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalTarefa" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cadastro Tarefa</h4>
                </div>
                <div class="modal-body">
                    <form name="formTarefa" >
                        <div class="form-group">
                            <label for="tituloTarefa">Titulo</label>
                            <input type="text" name="tituloTarefa" id="tituloTarefa" class="form-control"/>
                            <label for="descricaoTarefa">Descrição</label>
                            <input type="text" name="descricaoTarefa" id="descricaoTarefa" class="form-control"/>
                            <label for="horasTarefa">Horas</label>
                            <input type="text" name="horasTarefa" id="horasTarefa" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default"  value="salvar" id="salvarFormulario">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock body %}