<div class="modal fade" id="modalTarefa" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastro Tarefa</h4>
            </div>
            <div class="modal-body">
                <form name="formTarefa" >
                    <div class="form-group">
                        <label for="tituloTarefa">Titulo</label>
                        <input type="text" name="tituloTarefa" id="tituloTarefa" class="form-control"/>
                        <input type="hidden" name="idTarefa" id="idTarefa"/>
                        <label for="descricaoTarefa">Descrição</label>
                        <input type="text" name="descricaoTarefa" id="descricaoTarefa" class="form-control"/>
                        <label for="horasTarefa">Horas</label>
                        <input type="text" name="horasTarefa" id="horasTarefa" class="form-control"/>
                        <label for="dataInicioTarefa">Data Inicio</label>
                        <input type="date" name="dataInicioTarefa" id="dataInicioTarefa" class="form-control">
                        <label for="dataFimTarefa">Data Fim</label>
                        <input type="date" name="dataFimTarefa" id="dataFimTarefa" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default"  value="salvar" id="salvarBacklog">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>