{% extends 'layout.html.twig' %}

{% block sub_title 'Backlog' %}

{% block javascript %}
    <script src="../js/backlog.js" type="application/javascript"></script>
{% endblock javascript %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="../css/backlog.css">
{% endblock stylesheet %}

{% block body %}
    <table class="table table-bordered" id="backlogTable">
        <thead>
        <tr>
            <th style="width: 460px;">To do
                <span class="glyphicon glyphicon-plus" style="padding:5px;" id="to_do" data-toggle="modal" data-target="#modalTarefa"></span>
                <span class="totalHorasTarefa">00h</span>
            </th>
            <th style="width: 300px">In Progress</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody class="table-bordered">
        </tbody>
        <tfoot>
        </tfoot>
    </table>

    <div class="tarefaView">
        <h4 class="tituloTarefaView"></h4>
        <span class="descricaoTarefaView"></span>
        <span class="horasTarefaView"></span>
    </div>
    {% include 'backlog/backlogForm.html.twig' %}
{% endblock body %}