{% block tarefaKanban %}
<div class="tarefaView">
    <h4 class="tituloTarefaView"></h4>
    <a class="editTarefa" data-toggle="tooltip" title="Editar" href="">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a class="excluirTarefa" data-toggle="tooltip" title="Excluir" href="">
        <span class="glyphicon glyphicon-trash"></span>
    </a>
    <span class="descricaoTarefaView"></span>
    <span class="horasTarefaView"></span>
</div>
{% endblock %}