td.to_do{
    width: 400px;
}

div.tarefaAgendada{
    width: 180px;
    height: 95px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    border-left: solid 15px #95b3d7;
    background-color: #dce6f4
}

.backLogLine{
    height: 150px;
    max-height: 400px;
}

.tituloTarefaView {
    text-align: center;
    color: #000000;
    font-size: 30px;
}

.descricaoTarefaView {
    padding: 5px;
}

.horasTarefaView {
    font-size: 11px;
    font-weight: bold;
    color: #007fff;
}

.totalHorasTarefa{
    float: right;
    padding: 5px;
}

.nomeCadastro {
    font-size: 12px;
    float: right;
    padding-right: 15px;
}

.linhaBacklogProjeto{
    background-color: lightgray;
}

.tituloBacklogProjeto{
    margin: 0 0 0 0;
}

#to_do{
    cursor: hand;
}

#backlogTable > tbody > tr > td {
    height: 350px;
}