{% extends 'layout.html.twig' %}
{% block body %}
    <div id='calendar' style="height:100%; width:100%">
        <iframe style="height:100%; width:100%" src="http://administrador:q1p0w2o9!@win-ap0cod45lc8/ReportServer/Pagdes/ReportViewer.aspx?/Timeline&rc:Parameters=false&rs:Command=Render"></iframe>
    </div>
{% endblock body %}