<html>
<head><title>{% block sub_title '' %}{% block title 'Agenda' %}</title>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- style agenda -->
    <link rel="stylesheet" type="text/css" href="../css/agendamento.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="../js/jquery.min.js" type="application/javascript"></script>
    <script src="../js/jquery-ui/jquery-ui.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../js/jquery-ui/jquery-ui.css">

    <script src="../js/agendamento.js" type="application/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<h1>Agenda</h1>
<div id="banner">
    |            <div>
        <ul class="banner-nav">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/kanban">Kanban</a></li>
        </ul>
        <h2>
            <a href="/dashboard">Dashboard</a>
        </h2>
        <p>
            A premium add-on for displaying events and resources
        </p>
    </div>
</div>
{% block body %}
    bem vindo a Agenda!
{% endblock %}
</body>
</html>