{% block javascript %}
    <script src="http://{{ app.request.server.get('HTTP_HOST') }}/js/projetoModal.js" type="application/javascript"></script>
{% endblock %}
<div class="modal fade" id="projetoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Projeto</h4>
            </div>
            <div class="modal-body">
                <div class="fixed-table-header">
                    <table  id="tableProjeto"
                            class="table table-bordered table-condensed table-hover table-striped"
                            data-height="299"
                            data-pagination="true"
                            data-page-size="10"
                            data-cache="false"
                            data-search="false"
                            {#data-show-columns="true"#}
                            data-show-refresh="true"
                            {#data-click-to-select="false"#}
                            data-show-toggle="true"
                            data-side-pagination="server"
                            >
                    </table>
                </div>
            </div>
            <div class="modal-footer form-group">
                {#chama modal do arquivo /agenda/views/projeto/projetoForm.html.twig#}
                <input type="button" class="btn btn-default" id="addProjeto" data-toggle="modal" data-target="#projetoForm" value="Add projeto">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>