{% block javascript %}
    <script src="http://{{ app.request.server.get('HTTP_HOST') }}/js/projetoForm.js" type="application/javascript"></script>
{% endblock %}
<div class="modal fade" id="projetoForm" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastro de Projeto</h4>
            </div>
            <div class="modal-body">
                <div id="formProjeto" >
                    <label for="tituloProjeto">Titulo</label>
                    <input type="text" name="tituloProjeto" id="tituloProjeto" class="form-control"/>
                    <input type="hidden" name="codigoProjeto" id="codigoProjeto"/>
                    <label for="descricaoProjeto">Descrição</label>
                    <input type="text" name="descricaoProjeto" id="descricaoProjeto" class="form-control"/>
                    <label for="dataInicio">Data Inicio</label>
                    <input type="date" name="dataInicioProjeto" id="dataInicioProjeto" value="" class="form-control">
                    <label for="dataFim">Data Fim</label>
                    <input type="date" name="dataFimProjeto" id="dataFimProjeto" format="dd/MM/yyyy" value="" class="form-control">
                </div>
            </div>
            <div class="modal-footer form-group">
                <button class="btn btn-default" id="salvarProjeto">Salvar</button>
                <button class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>